[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = https://github.com/nzfeng/geometry-central.git
[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nzfeng/polyscope.git
[submodule "deps/CoMISo"]
	path = deps/CoMISo
	url = https://github.com/libigl/CoMISo.git
